{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="px-6 py-20 text-center">
    <div class="mb-8">
      <a href="/"><img src="{% static 'img/thedungeon-prova-logo.png' %}" alt="The Dungeon AI Logo" class="mx-auto max-h-48"></a>
    </div>
    <p class="text-gray-300 max-w-2xl mx-auto text-lg mb-6">
      Esplora mondi oscuri, combatti entità biomeccaniche, sopravvivi nei labirinti infiniti.
    </p>
<div class="flex items-center justify-center bg-gray-900 px-4">
  <div class="w-full max-w-md bg-gray-900 text-white p-8 rounded-lg shadow-lg border border-green-700 text-center">
    
    <h2 class="text-2xl font-bold mb-4">📬 Istruzioni Inviate</h2>

    <p class="text-sm text-gray-300 mb-3">
      Ti abbiamo inviato via mail le istruzioni per il cambio password.
    </p>
    
    <p class="text-sm text-gray-400">
      Visita la tua casella di posta e segui il link allegato per procedere.
    </p>

    <a href="{% url 'login' %}" class="mt-6 inline-block bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded shadow transition">
      Torna al Login
    </a>
  </div>
</div>
  </section>
{% endblock %}
