{% extends "base.html" %}
{% load static %}

{% block content %}
 <!-- HERO SECTION -->
  <section class="px-6 py-20 text-center">
    <div class="mb-8">
      <a href="/"><img src="{% static 'img/thedungeon-prova-logo.png' %}" alt="The Dungeon AI Logo" class="mx-auto max-h-48"></a>
    </div>
    <p class="text-gray-300 max-w-2xl mx-auto text-lg mb-6">
      Esplora mondi oscuri, combatti entità biomeccaniche, sopravvivi nei labirinti infiniti.
    </p>
<div class="flex items-center justify-center bg-gray-900 px-4">
  <div class="bg-gray-900 text-white p-8 rounded-lg shadow-lg border border-green-700 max-w-md text-center">

    <h2 class="text-2xl font-bold text-green-400 mb-4">✅ Registrazione completata</h2>
    <p class="text-gray-300 mb-6">
      Grazie per esserti registrato! Benvenuto in thedungeon.ai, vai in home page e scegli l'avventura!
    </p>

    <a href="{% url 'home:home' %}" class="inline-block bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded transition">
      Torna alla Home
    </a>

  </div>
</div>
{% endblock %}
